#wrapper {
	width:600px;
	margin:0px auto;
}

body
{
	background-color:#d0e4fe;
	margin: 0px auto;
	font-family: arial, sans, sans-serif;
}

div
{
	margin-top:10px;
}

div#header {
	text-align: center;
	background-color:#6caafc;
}

canvas
{
	background-color:white;
	border: 1px solid black;
}


