body
{
	background-color:#d0e4fe;
	min-width: 950px;
	margin: 0 auto;
}

h1
{
	color:black;
	text-align:center;
}

p
{
	font-family:"Times New Roman";
	font-size:20px;
}

textarea{
	width: 400px;
	height: 40px;
}

.error 
{
color:rgb(255,0,0);
}

.menubar 
{
	list-style: none;
	margin:0;
	padding-left:50px;
	background-color:#6caafc;
	height:50px;
}
	
.menubar ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.menubar li
{
	float:left;
}

.menubar a:link, .menubar a:visited, a.username
{
	display:block;
	width:auto;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	padding-bottom:4px;
	text-decoration:none;
	text-transform:uppercase;
}

.menubar a:hover, .menubar a:active
{
	background-color:#217ffa;
}

.username
{
	float:right;
}
.content
{
	float:left;
	padding-left:60px;
}

.posts ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.posts li:nth-child(odd) 
{ 
	background-color:#6caafc; 
}

.time, .name
{
	text-align:right;
	font-size:small;
}

.welcome
{
	font-size:200%;
}



