#wrapper {
	width:854px;
	margin:0px auto;
}

.logout 
{
	float: right;
}

body
{
	background-color:#d0e4fe;
	margin: 0px auto;
	font-family: arial, sans, sans-serif;
}

div#header {
	text-align: center;
	background-color:#6caafc;
}

td
{
vertical-align:top;
}

div#view {
	float:left;
}

.error {
	color:red;
	height:60px;
}

div#login {
	float:left;
}

div#signup{
	float:right;
}

.lcol {
	margin-right:20px;
	float:left;
}

.rcol {
	width:140px;
	padding-left:20px;
}

div#line {
	background-image:url('/images/LineIcon.png');
}

div#rectangle {
	background-image:url('/images/RectCornerIcon.png');
}

div#circleCenter {
	background-image:url('/images/CircleCenterIcon.png');
}

div#select {
	background-image:url('/images/SelectIcon.jpg');
}

.toolbar-button
{
	width:48px;
	height:48px;
	border: 1px solid black;
	cursor:pointer;
}
canvas
{
	background-color:white;
	border: 1px solid black;
}
.dLink {
	background-color:white;
	padding:3px;
	border: 1px solid gray;
	cursor:pointer;
}
